In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import os
os.chdir('D:\\RIYA\\college stuff\\ML with python')
os.getcwd()
salary = pd.read_csv('Salaries.csv')
salary
print(salary.head())
print(salary.info())
print(salary.describe())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148648 entries, 0 to 148647
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148648 non-null  int64
 1   EmployeeName      148648 non-null  object
 2   JobTitle          148648 non-null  object
 3   BasePay           148043 non-null  float64
 4   OvertimePay       148648 non-null  float64
 5   OtherPay          148648 non-null  float64
 6   Benefits          112490 non-null  float64
 7   TotalPay          148648 non-null  float64
 8   TotalPayBenefits  148648 non-null  float64
 9   Year              148648 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148648 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB
None
                  Id        BasePay    OvertimePay       OtherPay  \
count  148648.000000  148043.000000  148648.000000  148648.000000
mean    74326.110220   66325.398119    5065.821161    3648.761721
std     42911.633315   42764.898947   11454.266982    8056.655841
min         1.000000    -166.010000      -0.010000   -7058.590000
25%     37163.750000   33587.350000       0.000000       0.000000
50%     74326.500000   65007.450000       0.000000     811.205000
75%    111488.250000   94691.050000    4657.597500    4236.035000
max    148654.000000  319275.010000  245131.880000  400184.250000

            Benefits       TotalPay  TotalPayBenefits           Year  Notes
count  112490.000000  148648.000000     148648.000000  148648.000000    0.0
mean    25007.777439   74770.035453      93694.776345    2012.522617    NaN
std     15402.235424   50516.440633      62792.743250       1.117526    NaN
min       -33.890000    -618.130000       -618.130000    2011.000000    NaN
25%     11535.192500   36169.370000      44072.062500    2012.000000    NaN
50%     28628.365000   71427.130000      92406.020000    2013.000000    NaN
75%     35566.790000  105840.920000     132876.997500    2014.000000    NaN
max     96570.660000  567595.430000     567595.430000    2014.000000    NaN

C:\Users\91988\AppData\Local\Temp\ipykernel_7808\3812195425.py:7: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  salary = pd.read_csv('Salaries.csv')

In [3]:

sum_year = salary.groupby('Year').sum()['TotalPayBenefits']
print ( sum_year)

Year
2011    2.594113e+09
2012    3.696790e+09
2013    3.814772e+09
2014    3.821866e+09
Name: TotalPayBenefits, dtype: float64

In [4]:
mean_year = salary.groupby('Year').mean()['TotalPayBenefits']
print ( mean_year)

Year
2011     71743.819645
2012    100551.886807
2013    101440.519714
2014    100261.438668
Name: TotalPayBenefits, dtype: float64

In [5]:
mean_title_year = salary.groupby(['Year','JobTitle']).mean()['TotalPayBenefits']
print ( mean_title_year)

Year  JobTitle
2011  ACCOUNT CLERK                      44035.664337
      ACCOUNTANT                         47429.268000
      ACCOUNTANT INTERN                  29031.742917
      ACUPUNCTURIST                      67594.400000
      ADMINISTRATIVE ANALYST             63954.867527
                                            ...
2014  Wire Rope Cable Maint Sprv        228338.090000
      Worker's Comp Supervisor 1         76964.451667
      Worker's Compensation Adjuster     97213.493846
      X-Ray Laboratory Aide              68754.120000
      Youth Comm Advisor                 52011.190000
Name: TotalPayBenefits, Length: 4136, dtype: float64

In [6]:
over_time_pay_year = salary.groupby('Year').sum()['OvertimePay']
print ( over_time_pay_year)

Year
2011    1.638191e+08
2012    1.846650e+08
2013    1.986214e+08
2014    2.059186e+08
Name: OvertimePay, dtype: float64

In [8]:
top_job_title = salary[salary['Year'] == 2014]['JobTitle'].value_counts().head(5)

print (top_job_title)
sum_cost = 0
for index,value in top_job_title.iteritems():
    print(index,value)
    sum_cost += sum(salary[ (salary['Year']== 2014) & (salary['JobTitle'] == index)]['TotalPayBenefits'])

print (" Total Cost of Top 5 Jobs in Year 2014 ", sum_cost)

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
Name: JobTitle, dtype: int64
Transit Operator 2479
Special Nurse 1478
Registered Nurse 1234
Public Svc Aide-Public Works 916
Firefighter 815
 Total Cost of Top 5 Jobs in Year 2014  610269227.6600003

In [9]:
top_sal = salary.groupby('EmployeeName').sum()['TotalPayBenefits']
print((top_sal.sort_values(axis=0)))

EmployeeName
Joe Lopez              -618.13
David P Kucia           -33.89
Mark E Laherty           -8.20
Timothy E Gibson         -2.73
Mark W Mcclure            0.00
                       ...
Richard Lee         1268668.84
Stanley Lee         1457279.68
William Wong        1459954.17
Steven Lee          1706550.76
Kevin Lee           1778487.17
Name: TotalPayBenefits, Length: 110809, dtype: float64